//defining variable
$primaryColor: rgb(230, 184, 210);
$primaryButtonColor: rgb(220, 220, 235);

header{
    background: $primaryColor;
    display: flex;
    justify-content: center;

    //nest different element
    button{
        background: $primaryButtonColor;
        // add hover
        &:hover{
            background-color: red;
        }
    }
}



div{
    background: $primaryColor;
}
