<!-- button -->
<!-- <div>
  <button mat-button>Hello world</button>
  <button mat-raised-button>Hello world</button>
  <button mat-flat-button>Hello world</button>
  <button mat-stroked-button>Hello world</button>
</div>
<div>
  <button mat-icon-button>hey</button>
  <button mat-fab>hey</button>
  <button mat-mini-fab>hey</button>
</div>

<div>
  <button color="primary" mat-button>hey</button>
  <button color="accent" mat-button>hey</button>
  <button color="warn" mat-button>hey</button>
  <button color="warn" mat-button disableRipple>hey</button>
  <button color="primary" mat-raised-button>hey</button>
  <button color="accent" mat-raised-button>hey</button>
  <button color="warn" mat-raised-button>hey</button>
</div> -->

<!-- button toggle -->

<!-- <div>
  <mat-button-toggle>Toggle</mat-button-toggle>
  <mat-button-toggle #toggleButton checked>Toggle</mat-button-toggle>
  {{toggleButton.checked}}
  <mat-button-toggle #toggleButton checked disableRipple>Toggle</mat-button-toggle>
  {{toggleButton.checked}}
</div> -->
<!-- <div>
  <mat-button-toggle-group>
    <mat-button-toggle>Angular</mat-button-toggle>
    <mat-button-toggle>React</mat-button-toggle>
    <mat-button-toggle>Vue</mat-button-toggle>
  </mat-button-toggle-group><br>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}} <br>
  <mat-button-toggle-group #toggleGroup2="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup2.value}}
  
</div> -->

<!-- icon -->
<!-- <div>
  <mat-icon color="primary">done</mat-icon>
  <mat-icon>delete</mat-icon>
  <mat-icon>favorite</mat-icon>
  <mat-icon>fingerprint</mat-icon>
  <mat-icon>history</mat-icon>
</div> -->

<!-- badge -->

<div>
  <span matBadge="5">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below before">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before">Notifications</span>
</div>


<!-- Typography -->
<!-- <div class="mat-display-4">Hello</div>
<div class="mat-display-3">Hello</div>
<div class="mat-display-2">Hello</div>
<div class="mat-display-1">Hello</div>

<div class="mat-headline">headline</div>
<div class="mat-title">title</div>
<div class="mat-subheading-2">subheading 2</div>
<div class="mat-subheading-1">subheading 1</div>

<div class="mat-body-1">body 1</div>
<div class="mat-body-2">body 2</div>
<div class="mat-caption">caption</div>

<div class="mat-typography">
  <h1>Hey</h1>
  <h1>Hey</h1>
  <h1>Hey</h1>
  <h1>Hey</h1>
</div> -->