<div class="container-fluid">
  <h1>Bootstrap form</h1>

      <form>
        <div class="form-group">
          <label for="Name">Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="Email">Name</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="tel" class="form-control">
        </div>
      </form>
</div>